@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh; 
    box-sizing: border-box;
    background-color: #000000;
    color: #C8C8C8;
}

.apresentacao__topo {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 80px;
    background-color: #8A63C3;
}

.apresentacao__topo__page {
    color:  black;
    font-family: "Krona One", sans-serif;
    font-size: 20px;
    text-align: center
}

img {
    width: 615px;
    height: auto;
    border-radius: 45%;
}

.apresentacao {
    margin: 10% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 32px;
    text-align: justify;
}

.apresentacao__conteudo__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    text-align: justify;
}

/*  
    color:  #22D4FD; 
*/

.negrito {
    color:  #8A63C3;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 36px;
}

.apresentacao__links__entrada {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.apresentacao__links__button {
    border: 2px, solid, #8A63C3; 
    width: 378px;
    border-radius: 12px;
    padding: 21.5px 0;
    text-decoration: none;
    color:#C8C8C8;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

footer {
    background-color: #8A63C3;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}